{% extends 'frontend/base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
{% for post in posts %}
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">
                        {{ post.title }}
                    </h2>
                    <p class="post-meta">Posted by <a href="#">{{ post.author.name }}</a> on {{ post.pubDate|date('d/m/Y H:i') }}</p>

                    <!-- Will be used?
                    <h3 class="post-subtitle"></h3>
                    -->
                    {% if post.image is defined and post.image != '' %}
                    <a href="#" class="thumbnail pull-left">
                        <img src="{{ asset('uploads/posts/p/' ~ post.image) }}" class="responsive-img">
                    </a>
                    {% endif %}
                    {{ post.description|raw }}
                </a>
                <div class="clearfix"></div>
                <a href="#" class="btn btn-default">
                    Read more
                </a>
            </div>
            <hr>
{% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block scripts %}
{% endblock %}
