{% extends 'dreamstone/base.html.twig' %}

{% block body %}
<div class="box box-default">
  <div class="box-body">
    <form class="form">
      <p>{{ "filter"|trans }}</p>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-2">
          <label>{{ "search"|trans }}</label>
          <input type="search" placeholder="{{ "title"|trans }}" name="q" class="form-control" value="{{ filters.q is defined ? filters.q : null }}">
        </div>

        {% if sections is defined %}
        <div class="col-xs-12 col-sm-4 col-md-2">
          <label>{{ "section"|trans }}</label>
          <select size="1" name="section" class="form-control">
            <option disabled {{ filters.section is not defined or filters.section == '' ? 'selected' : '' }}>{{ "section"|trans }}</option>
            {% for section in sections %}
            <option value="{{ section.id }}" {{ filters.section is defined and filters.section == section.id ? ' selected' : '' }}>{{ section.title }}</option>
            {% endfor %}
          </select>
        </div>
        {% endif %}

        {% if statuses is defined %}
        <div class="col-xs-12 col-sm-4 col-md-2">
          <label>{{ "status"|trans }}</label>
          <select size="1" name="status" class="form-control">
            <option disabled {{ filters.status is not defined or filters.status == '' ? 'selected' : '' }}>{{ "status"|trans }}</option>
            {% for statusId, statusName in statuses %}
            <option value="{{ statusId }}" {{ filters.status is defined and filters.status == statusId ? 'selected' : '' }}>{{ statusName|trans }}</option>
            {% endfor %}
          </select>
        </div>
        {% endif %}

        {% if authors is defined %}
        <div class="col-xs-12 col-sm-4 col-md-2">
          <label>{{ "author"|trans }}</label>
          <select size="1" name="author" class="form-control">
            <option disabled {{ filters.author is not defined or filters.author == '' ? 'selected' : '' }}>{{ "author"|trans }}</option>
            {% for author in authors %}
            <option value="{{ author.id }}" {{ filters.author is defined and filters.author == author.id ? ' selected' : '' }}>{{ author.name }}</option>
            {% endfor %}
          </select>
        </div>
        {% endif %}

        <div class="col-xs-12 col-sm-6 col-md-2">
          <label>{{ "date_from"|trans }}</label>
          <input type="text" class="datepicker form-control" name="from" value="{{ filters.from is defined ? filters.from : '' }}">
        </div>

        <div class="col-xs-12 col-sm-6 col-md-2">
          <label>{{ "date_to"|trans }}</label>
          <input type="text" class="datepicker form-control" name="to" value="{{ filters.to is defined ? filters.to : '' }}">
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <br>
          <button type="submit" class="btn btn-block btn-info">{{ "filter"|trans }}</button>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <br>
          <a href="{{ path('posts-list') }}" class="btn btn-block btn-info">{{ "clear_filters"|trans }}</a>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="box box-primary">
      <div class="box-body no-padding">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>{{ "title"|trans }}</th>
              <th class="hidden-xs">{{ "section"|trans }}</th>
              <th class="hidden-xs">{{ "author"|trans }}</th>
              <th>Status</th>
              <th class="hidden-xs">{{ "pub_date"|trans }}</th>
              <th><i class="glyphicon glyphicon-option-vertical"></i></th>
            </tr>
          </thead>
          <tbody>
{% for post in posts %}
            <tr>
              <td>{{ post.title }}</td>
              <td class="hidden-xs">{{ post.section.title }}</td>
              <td class="hidden-xs">{{ post.author.name }}</td>
              <td>{{ statuses[post.status]|trans }}</td>
              <td class="hidden-xs">{{ post.pubDate.format('d/m/Y H:i') }}</td>
              <td class="btn-group">
                {% if post.status == constant('App\\Entity\\Post::STATUS_PUBLISHED') and post.pubDate <= date('now') %}
                <a href="{{ path('posts-read', {
                    'section': post.section.slug,
                    'slug': post.slug
                }) }}" class="btn btn-default" target="_blank">
                  <i class="glyphicon glyphicon-eye-open"></i>
                </a>
                {% else %}
                <a href="{{ path('posts-preview', {
                    'section': post.section.slug,
                    'slug': post.slug
                }) }}" class="btn btn-default" target="_blank">
                  <i class="glyphicon glyphicon-eye-open"></i>
                </a>
                {% endif %}
                <a href="{{ path('posts-report', {
                    'id': post.id
                }) }}" class="btn btn-default" target="_blank">
                  <i class="fa fa-line-chart"></i>
                </a>
{%
if
(post.author == app.user and post.status == constant('App\\Entity\\Post::STATUS_DRAFT')) or
is_granted('ROLE_SUPER_ADMIN') or
(is_granted('ROLE_REVIEWER') and post.status == constant('App\\Entity\\Post::STATUS_PENDING_REVISION'))
%}
                <a href="{{ path('posts-edit', {'id': post.id}) }}" class="btn btn-default">
                  <i class="glyphicon glyphicon-pencil"></i>
                </a>
{% endif %}
              </td>
            </tr>
{% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
