{% extends 'frontend/base.html.twig' %}

{% block metatags %}
    {% if preview %}

    <meta name="robots" content="noindex,nofollow">
    {% endif %}

    <meta property="og:type" content="article">
    <meta property="article:author" content="{{ post.author.name }}">
    <meta property="article:section" content="{{ post.section.title }}">
    <meta property="article:tag" content="{% for tag in post.tags %}{{ tag.id }},{% endfor %}">
    <meta property="article:published_time" content="{{ post.pubDate|date('Y-m-d H:i:s') }}">
    <meta property="og:description" content="{{ post.description|striptags }}">
    <meta property="og:image" content="{{ absolute_url(asset('uploads/posts/' ~ post.image)) }}">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="1000">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <article>
                    <h1>{{ post.title }}</h1>
                    <p class="post-meta">Posted by {{ post.author.name }}
                        on <time pubdate="pubdate">{{ post.pubDate|date('d/m/Y H:i') }}</time>
                    </p>
                    <p class="post-meta tags">
                        {% for tag in post.tags %}
                            <a href="{{ path('tag-front', {
                                'id': tag.id
                            }) }}" class="label label-info">{{ tag.id }}</a>
                        {% endfor %}
                    </p>
                    {% if post.image is defined %}
                        <img src="{{ asset('uploads/posts/m/' ~ post.image) }}"
                             alt="{{ post.title }}" alt="{{ post.title }}"
                             class="pull-left thumbnail">
                    {% endif %}
                    {{ post.body|raw }}

                    <div class="clearfix"></div>
                </article>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block scripts %}
{% endblock %}
