{% extends 'dreamstone/base.html.twig' %}

{% block body %}

<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="box box-primary">
      <div class="box-body">
{% if response.message is defined %}
<div class="alert alert-success">
{{ response.message }}
</div>
{% endif %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
      </div>
    </div>
  </div>

{% if administrator.photo is defined %}
    <div class="col-md-3 hidden-xs">
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="/uploads/{{ administrator.photo }}" alt="Avatar" class="img-responsive">
            </div>
        </div>
    </div>
{% endif %}
</div>

{% endblock %}

{% block stylesheets %}
{% endblock %}
