{% extends 'dreamstone/base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">{{ "latest_posts"|trans }}</div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">{{ "title"|trans }}</th>
                                <th>{{ "actions"|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
    {% for post in latestPosts %}
                            <tr>
                                <td>
                                    {{ post.title }}
                                </td>
                                <td class="btn-group">
                                    <a href="{{ path('posts-read', {
                                        'section': post.section.slug,
                                        'slug': post.slug
                                    }) }}" class="btn btn-default" target="_blank">
                                        <i class="glyphicon glyphicon-eye-open"></i>
                                    </a>
                                    <a href="{{ path('posts-report', {
                                        'id': post.id
                                    }) }}" class="btn btn-default" target="_blank">
                                        <i class="fa fa-line-chart"></i>
                                    </a>
                                    {%
                                    if
                                    (post.author == app.user and post.status == constant('AppBundle\\Entity\\Post::STATUS_DRAFT')) or
                                    is_granted('ROLE_SUPER_ADMIN') or
                                    (is_granted('ROLE_REVIEWER') and post.status == constant('AppBundle\\Entity\\Post::STATUS_PENDING_REVISION'))
                                    %}
                                        <a href="{{ path('posts-edit', {'id': post.id}) }}" class="btn btn-default">
                                            <i class="glyphicon glyphicon-pencil"></i>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
    {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
