{% extends 'dreamstone/base-unauthenticated.html.twig' %}

{% block body %}
{% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div class="login-box">
  <div class="login-logo">
    <a href="#">
      <img src="{{ asset('/assets/dist/img/logo.png') }}" alt="Dreamstone">
    </a>
  </div>

  <div class="login-box-body">
    <p class="login-box-msg">{{ "enter_credentials"|trans }}</p>

    <form action="{{ path('login') }}" method="post">
      <div class="form-group has-feedback">
        <input type="text" id="username" name="_username" class="form-control" placeholder="{{ "username"|trans }}" value="{{ last_username }}">
        <span class="fa fa-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" id="password" name="_password" class="form-control" placeholder="{{ "password"|trans }}">
        <span class="fa fa-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-4 col-xs-offset-8">
          <input type="hidden" name="_target_path" value="/dreamstone/" />
          <button type="submit" class="btn btn-primary btn-block btn-flat">{{ "enter"|trans }}</button>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}
