{% extends 'frontend/base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
{% if posts %}
    {% for post in posts %}
            <div class="post-preview">
                <a href="{{ path('posts-read', {
                    'section': post.section.slug,
                    'slug': post.slug
                }) }}">
                    <h2 class="post-title">
                        {{ post.title }}
                    </h2>
                    <p class="post-meta">Posted by {{ post.author.name }} on {{ post.pubDate|date('d/m/Y H:i') }}</p>

                    <!-- Will be used?
                    <h3 class="post-subtitle"></h3>
                    -->
                    {% if post.image is defined and post.image != '' %}
                    <a href="#" class="thumbnail pull-left">
                        <img src="{{ asset('uploads/posts/p/' ~ post.image) }}" class="responsive-img">
                    </a>
                    {% endif %}
                    {{ post.description|raw }}
                </a>
                <div class="clearfix"></div>
                <a href="{{ path('posts-read', {
                    'section': post.section.slug,
                    'slug': post.slug
                }) }}" class="btn btn-default">
                    Read more
                </a>
            </div>
            <hr>
    {% endfor %}
            <ul class="pager">
    {% if (pagination.prev) %}
                <li class="previous">
                    <a href="{{ path(app.request.attributes.get('_route'),
                    app.request.attributes.get('_route_params')) }}?page={{ pagination.prev }}">
                        <i class="fa fa-angle-left"></i> Newer
                    </a>
                </li>
    {% endif %}
    {% if (pagination.next) %}
                <li class="next">
                    <a href="{{ path(app.request.attributes.get('_route'),
                    app.request.attributes.get('_route_params')) }}?page={{ pagination.next }}">
                        Older <i class="fa fa-angle-right"></i>
                    </a>
                </li>
    {% endif %}
            </ul>
{% else %}
            <p class="alert alert-warning text-center">No posts found</p>
            <hr>
{% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block scripts %}
{% endblock %}
